<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Tareas')"></head>

<body>

<div th:replace="fragments::menu"></div>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de tareas de ' + ${nombreUsuario}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Tarea</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tarea : ${tareas}">
                    <td th:text="${tarea.id}"></td>
                    <td th:text="${tarea.titulo}"></td>
                    <td>
                        <a class="btn btn-primary btn-xs" th:href="@{/tareas/{id}/editar(id=${tarea.id})}">Editar</a>
                        <button class="btn btn-danger btn-xs" th:onclick="'del(\'/tareas/' + ${tarea.id} + '\')'"
                                style="cursor: pointer;">Borrar</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
                <a class="btn btn-primary" th:href="@{/usuarios/{id}/tareas/nueva(id=${usuarioId})}">Nueva tarea</a>
                <a class="btn btn-link" href="/logout">Salir</a>
            </p>
        </div>
    </div>

    <!-- Botones de navegación para la paginación -->
    <div class="row mt-3">
        <div class="col text-center">
            <div class="btn-group">
                <!-- Botón para la página anterior -->
                <a class="btn btn-secondary"
                   th:href="@{/usuarios/{id}/tareas(id=${usuario.id}, page=${currentPage - 1}, size=6)}"
                   th:classappend="${currentPage == 0} ? 'disabled' : ''">
                    Anterior página
                </a>
                <!-- Botón para la página siguiente -->
                <a class="btn btn-secondary"
                   th:href="@{/usuarios/{id}/tareas(id=${usuario.id}, page=${currentPage + 1}, size=6)}"
                   th:classappend="${currentPage + 1 >= totalPages} ? 'disabled' : ''">
                    Siguiente página
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"></div>

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la tarea?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then(() => location.reload());
        }
    }
</script>

</body>
</html>
