<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Descripción de Usuario')"></head>
<body>

<div th:replace="fragments::menu"></div>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h2>Descripción del Usuario</h2>
            <table class="table table-striped">
                <tr>
                    <th>ID:</th>
                    <td th:text="${usuario.id}"></td>
                </tr>
                <tr>
                    <th>Nombre:</th>
                    <td th:text="${usuario.nombre}"></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td th:text="${usuario.email}"></td>
                </tr>
                <tr>
                    <th>Fecha de Nacimiento:</th>
                    <td th:text="${#dates.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}"></td>
                </tr>
            </table>
            <a class="btn btn-primary" th:href="@{/registrados}">Volver al listado</a>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"></div>
</body>
</html>
